Repository pc2/HPCC_FPGA: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

build:STREAM:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../STREAM -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/stream_kernels_single_emulate.aocx
    - build/bin/stream_kernels_emulate.aocx
    - build/bin/STREAM_FPGA_intel
  ...

build:RandomAccess:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../RandomAccess -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/random_access_kernels_single_emulate.aocx
    - build/bin/RandomAccess_intel
    - build/bin/RandomAccess_test_intel

build:PTRANS:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../PTRANS -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/transpose_DIAG_IEC_emulate.aocx
    - build/bin/transpose_PQ_IEC_emulate.aocx
    - build/bin/transpose_PQ_PCIE_emulate.aocx
  ...

build:LINPACK:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../LINPACK -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0 -DLOCAL_MEM_BLOCK_LOG=4 -DREGISTER_BLOCK_LOG=3 -DNUM_REPLICATIONS=3
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/hpl_torus_emulate.aocx
    - build/bin/Linpack_intel
  ...

build:GEMM:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../GEMM -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0 -DBLOCK_SIZE=32
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/gemm_base_emulate.aocx
    - build/bin/GEMM_intel
    - build/bin/GEMM_test_intel

build:GEMM_HP_REP2:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../GEMM -DDATA_TYPE=half -DNUM_REPLICATIONS=2 -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0 -DBLOCK_SIZE=32
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/gemm_base_emulate.aocx
    - build/bin/GEMM_intel
  ...

build:FFT:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../FFT -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/fft1d_float_8_emulate.aocx
    - build/bin/FFT_intel
    - build/bin/FFT_test_intel

build:FFT_small:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../FFT -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0 -DLOG_FFT_SIZE=4 -DNUM_REPLICATIONS=2
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/fft1d_float_8_emulate.aocx
    - build/bin/FFT_intel
    - build/bin/FFT_test_intel

build:b_eff:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../b_eff -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/communication_bw520n_emulate.aocx
    - build/bin/communication_bw520n_combined_loops_emulate.aocx
  ...

Implement different communication types
  b_eff/src/host/CMakeLists.txt
  b_eff/src/host/execution_types/execution.hpp
  b_eff/src/host/execution_types/execution_cpu.hpp
  b_eff/src/host/execution_types/execution_iec.hpp
  b_eff/src/host/execution_types/execution_pcie.hpp
  b_eff/src/host/network_benchmark.cpp
Due: build:b_eff, test:b_eff

Add integration tests
  b_eff/CMakeLists.txt
  b_eff/src/device/CMakeLists.txt
Due: build:b_eff, test:b_eff

Add unit tests for comm types
  b_eff/tests/test_kernel_functionality_and_host_integration.cpp
Due: build:b_eff, test:b_eff

Fix b_eff tests
  .gitlab-ci.yml
  b_eff/src/host/network_benchmark.cpp
  b_eff/tests/test_kernel_functionality_and_host_integration.cpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Fix test all script incremental feature
  scripts/test_all.sh
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Update compatability lists in README
  README.md
Due: none

Add support for DP
  LINPACK/CMakeLists.txt
  LINPACK/configs/Nallatech_520N_B8_SB2_R2_DP_noring.cmake
  LINPACK/src/common/parameters.h.in
  LINPACK/src/host/linpack_benchmark.cpp
  LINPACK/tests/test_host_reference_implementations.cpp
  LINPACK/tests/test_kernel_communication.cpp
  shared/include/hpcc_benchmark.hpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Update benchmark version
  LINPACK/CHANGELOG
  LINPACK/CMakeLists.txt
Due: build:LINPACK, test:LINPACK

Add HPL DP to gitlab CI
  .gitlab-ci.yml
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Adjust config for DP
  LINPACK/configs/Nallatech_520N_B8_SB2_R5_DP_noring.cmake
Due: build:LINPACK, test:LINPACK

Move _DP flag to general configuration script
  LINPACK/CMakeLists.txt
  cmake/general_benchmark_build_setup.cmake
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Update CI for new kernel naming scheme
  .gitlab-ci.yml
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Clean up parameters
  LINPACK/src/common/parameters.h.in
Due: build:LINPACK, test:LINPACK

Use MPI_DATA_TYPE in PCIe implementation
  LINPACK/src/host/execution_types/execution_pcie.hpp
Due: build:LINPACK, test:LINPACK

Remove GLOBAL_MEM_UNROLL from kernels
  LINPACK/src/device/hpl_torus_IEC.cl
  LINPACK/src/device/hpl_torus_PCIE.cl
Due: build:LINPACK, test:LINPACK

Add DATA_TYPE to readme
  LINPACK/Readme.md
Due: build:LINPACK, test:LINPACK

Set cl2.hpp as default
  cmake/general_benchmark_build_setup.cmake
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Remove hard-coded cl.hpp from FFT
  FFT/src/host/execution.h
Due: build:FFT, build:FFT_small, test:FFT, test:FFT_small

Remove hard-coded cl.hpp from RandomAccess
  RandomAccess/src/host/execution.h
  RandomAccess/src/host/execution_single.cpp
Due: build:RandomAccess, test:RandomAccess

Remove hard-coded cl.hpp from STREAM
  STREAM/src/host/execution.hpp
  STREAM/src/host/execution_default.cpp
Due: build:STREAM, test:STREAM

Replace enqueueTask calls in FFT
  FFT/src/host/execution_default.cpp
Due: build:FFT, build:FFT_small, test:FFT, test:FFT_small

Remove enqueueTask calls in RA
  RandomAccess/src/host/execution_single.cpp
Due: build:RandomAccess, test:RandomAccess

Remove enqueueTask calls in STREAM
  STREAM/src/host/execution_default.cpp
Due: build:STREAM, test:STREAM

Remove hard-coded cl.hpp header from PTRANS tests
  PTRANS/tests/test_host_functionality.cpp
  PTRANS/tests/test_transpose_data_handlers.cpp
Due: build:PTRANS, test:PTRANS

Fix wrong placed bracket
  STREAM/src/host/execution_default.cpp
Due: build:STREAM, test:STREAM

Updating CI SDK to 21.2.0
  .gitlab-ci.yml
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Fix NDRange calls STREAM
  STREAM/src/host/execution_default.cpp
Due: build:STREAM, test:STREAM

Fix NDRange calls FFT
  FFT/src/host/execution_default.cpp
Due: build:FFT, build:FFT_small, test:FFT, test:FFT_small

Fix NDRange calls LINPACK
  LINPACK/src/host/execution_types/execution_iec.hpp
  LINPACK/src/host/execution_types/execution_pcie.hpp
Due: build:LINPACK, test:LINPACK

Initialize normb to 0
  LINPACK/src/host/linpack_benchmark.cpp
Due: build:LINPACK, test:LINPACK

Fix GEMM parsing
  scripts/evaluation/parse_raw_to_csv.py
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Update modules to FOSS
  .gitlab-ci.yml
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Apply combined pipeline patch
  LINPACK/CMakeLists.txt
  LINPACK/src/common/parameters.h.in
  LINPACK/src/device/hpl_torus_IEC.cl
  LINPACK/src/device/hpl_torus_PCIE.cl
Due: build:LINPACK, test:LINPACK

Add Xilinx kernel name patch
  LINPACK/src/host/execution_types/execution_pcie.hpp
Due: build:LINPACK, test:LINPACK

Simplify memory layout for PTRANS on U280
  PTRANS/src/device/transpose_PQ_PCIE.cl
Due: build:PTRANS, test:PTRANS

Enable memory bursts for FFT on U280
  FFT/src/device/fft1d_float_8.cl
  FFT/src/device/fft_8.cl
Due: build:FFT, build:FFT_small, test:FFT, test:FFT_small

Inline register GEMM
  GEMM/src/device/gemm_base.cl
Due: build:GEMM, build:GEMM_HP_REP2, test:GEMM, test:GEMM_HP_REP2

Optimize HPL PCIe host code
  LINPACK/src/host/execution_types/execution_pcie.hpp
Due: build:LINPACK, test:LINPACK

Fix dependencies of OCL task on HPL PCIe
  LINPACK/src/host/execution_types/execution_pcie.hpp
Due: build:LINPACK, test:LINPACK

Add missing emplace in HPL host code
  LINPACK/src/host/execution_types/execution_pcie.hpp
Due: build:LINPACK, test:LINPACK

Path conditions:
  build:STREAM: any of: STREAM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:RandomAccess: any of: RandomAccess/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:PTRANS: any of: PTRANS/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:LINPACK: any of: LINPACK/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:GEMM: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:GEMM_HP_REP2: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:FFT: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:FFT_small: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:b_eff: any of: b_eff/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:STREAM: any of: STREAM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:RandomAccess: any of: RandomAccess/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:PTRANS: any of: PTRANS/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:LINPACK: any of: LINPACK/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:GEMM: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:GEMM_HP_REP2: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:FFT: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:FFT_small: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:b_eff: any of: b_eff/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
