Repository pc2/HPCC_FPGA: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Path conditions:
  build:STREAM: any of: STREAM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:RandomAccess: any of: RandomAccess/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:PTRANS: any of: PTRANS/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:LINPACK: any of: LINPACK/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:GEMM: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:GEMM_HP_REP2: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:FFT: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:FFT_small: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:b_eff: any of: b_eff/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:STREAM: any of: STREAM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:RandomAccess: any of: RandomAccess/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:PTRANS: any of: PTRANS/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:LINPACK: any of: LINPACK/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:GEMM: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:GEMM_HP_REP2: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:FFT: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:FFT_small: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:b_eff: any of: b_eff/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml

Fix segfault in FFT fetch kernel
  FFT/src/device/fft1d_float_8.cl
Due: build:FFT, build:FFT_small, test:FFT, test:FFT_small

Tolerate machine epsilon un HPL unit tests
  LINPACK/tests/test_kernel_communication.cpp
Due: build:LINPACK, test:LINPACK

Change default board for PCIE PTRANS to hpc
  PTRANS/configs/Nallatech_520N_pcie.cmake
Due: build:PTRANS, test:PTRANS

Remove legacy emulator flag in test script
  scripts/test_all.sh
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Add synth script for PCIe version of PTRANS on 520n
  PTRANS/scripts/build_520n_pcie.sh
Due: build:PTRANS, test:PTRANS

Add HPL PCIE MPI kernel implementation
  LINPACK/src/device/CMakeLists.txt
  LINPACK/src/device/hpl_torus_IEC.cl
  LINPACK/src/device/hpl_torus_PCIE.cl
Due: build:LINPACK, test:LINPACK

Implement MPI communication on host side
  LINPACK/CMakeLists.txt
  LINPACK/src/host/CMakeLists.txt
  LINPACK/src/host/execution_iec.cpp
  LINPACK/src/host/execution_pcie.cpp
  LINPACK/src/host/linpack_benchmark.cpp
Due: build:LINPACK, test:LINPACK

Use PCIe version to create target for Xilinx
  LINPACK/src/device/CMakeLists.txt
Due: build:LINPACK, test:LINPACK

Reduce numer of repilcations for Xilinx U280
  LINPACK/configs/Xilinx_U280_B8_SB3_R2.cmake
Due: build:LINPACK, test:LINPACK

Optimize MPI bcast during end of calculation
  LINPACK/src/host/execution_pcie.cpp
Due: build:LINPACK, test:LINPACK

Add config for Xilinx U280
  LINPACK/configs/Xilinx_U280_B8_SB3_R3.cmake
Due: build:LINPACK, test:LINPACK

Update Xilinx compile and link settings
  LINPACK/settings/settings.compile.xilinx.hpl_torus_pcie.ddr.ini
  LINPACK/settings/settings.link.xilinx.hpl_torus_pcie.ddr.generator.ini
  LINPACK/settings/settings.link.xilinx.lu_blocked_pvt.ddr.ini
Due: build:LINPACK, test:LINPACK

Remove cl2.hpp dependencies
  LINPACK/src/host/execution.h
  LINPACK/src/host/execution_iec.cpp
Due: build:LINPACK, test:LINPACK

Optimize for U250
  LINPACK/src/device/hpl_torus_PCIE.cl
Due: build:LINPACK, test:LINPACK

Change bitstream names in integration tests and CI
  .gitlab-ci.yml
  LINPACK/src/device/CMakeLists.txt
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Separate left-block calculations in LU kernel
  LINPACK/src/device/hpl_torus_PCIE.cl
Due: build:LINPACK, test:LINPACK

Create HPL configs for U250
  LINPACK/configs/Xilinx_U250_B8_SB3_R3.cmake
  LINPACK/settings/settings.compile.xilinx.hpl_torus_pcie.u250.ini
  LINPACK/settings/settings.link.xilinx.hpl_torus_pcie.u250.generator.ini
Due: build:LINPACK, test:LINPACK

Use PCIE version for HPL CI
  .gitlab-ci.yml
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Fix order of memory ports in settings
  LINPACK/settings/settings.link.xilinx.hpl_torus_pcie.u250.generator.ini
Due: build:LINPACK, test:LINPACK

Fix generator issues with link settings
  LINPACK/settings/settings.link.xilinx.hpl_torus_pcie.ddr.generator.ini
Due: build:LINPACK, test:LINPACK

Ubdate LINPACK to use comm types
  LINPACK/CMakeLists.txt
  LINPACK/src/host/CMakeLists.txt
  LINPACK/src/host/execution_types/execution_iec.hpp
  LINPACK/src/host/execution_types/execution_pcie.hpp
  LINPACK/src/host/execution_types/execution_types.hpp
  LINPACK/src/host/linpack_benchmark.cpp
Due: build:LINPACK, test:LINPACK

Rename to execution_types folder
  PTRANS/src/host/execution_types/execution_cpu.hpp
  PTRANS/src/host/execution_types/execution_intel.hpp
  PTRANS/src/host/execution_types/execution_intel_pq.hpp
  PTRANS/src/host/execution_types/execution_pcie.hpp
  PTRANS/src/host/execution_types/execution_pcie_pq.hpp
  PTRANS/src/host/fpga_execution/communication_types.h
  PTRANS/src/host/transpose_benchmark.cpp
  PTRANS/src/host/transpose_data.cpp
Due: build:PTRANS, test:PTRANS

Clean up error printing
  shared/include/hpcc_benchmark.hpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Fix bug for single device
  shared/setup/fpga_setup.cpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Remove unnecessary include
  FFT/src/host/execution_default.cpp
Due: build:FFT, build:FFT_small, test:FFT, test:FFT_small

Add support for incremental tests
  scripts/test_all.sh
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Update version for LINPACK
  LINPACK/CHANGELOG
  LINPACK/CMakeLists.txt
Due: build:LINPACK, test:LINPACK

Update READMEs
  LINPACK/CMakeLists.txt
  LINPACK/Readme.md
  PTRANS/README.md
Due: build:PTRANS, build:LINPACK, test:PTRANS, test:LINPACK

Add support for TCL script instead of compile settings
  cmake/kernelTargets.cmake
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Use TCL script for compile stage
  LINPACK/configs/Xilinx_U250_B8_SB3_R3.cmake
Due: build:LINPACK, test:LINPACK

Use a single memory port per kernel
  LINPACK/settings/settings.link.xilinx.hpl_torus_pcie.u250.generator.ini
  LINPACK/src/device/hpl_torus_PCIE.cl
Due: build:LINPACK, test:LINPACK

Add TCL script
  LINPACK/settings/pre_synthesis.u250.tcl
Due: build:LINPACK, test:LINPACK

Remove max_mem_ports to reduce logic usage
  PTRANS/settings/settings.compile.xilinx.transpose_pq_pcie.ddr.ini
  PTRANS/settings/settings.link.xilinx.transpose_pq_pcie.u250.generator.ini
Due: build:PTRANS, test:PTRANS

Skip tests if they are not matching comm type
  LINPACK/tests/test_kernel_communication.cpp
Due: build:LINPACK, test:LINPACK

Extend CI with half and double precision for STREAM and GEMM
  .gitlab-ci.yml
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Fix failing STREAM builds
  .gitlab-ci.yml
  STREAM/CMakeLists.txt
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Allow failure of HP jobs
  .gitlab-ci.yml
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Add comment regarding HP
  GEMM/Readme.md
Due: build:GEMM, build:GEMM_HP_REP2, test:GEMM, test:GEMM_HP_REP2

Put default value in variable
  shared/include/communication_types.hpp
  shared/include/hpcc_benchmark.hpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Rename kernel according to new convention
  b_eff/src/device/communication_bw520n_IEC.cl
Due: build:b_eff, test:b_eff
