Repository pc2/HPCC_FPGA: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Path conditions:
  build:STREAM: any of: STREAM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:RandomAccess: any of: RandomAccess/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:PTRANS: any of: PTRANS/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:LINPACK: any of: LINPACK/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:GEMM: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:GEMM_HP_REP2: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:FFT: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:FFT_small: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:b_eff: any of: b_eff/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:STREAM: any of: STREAM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:RandomAccess: any of: RandomAccess/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:PTRANS: any of: PTRANS/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:LINPACK: any of: LINPACK/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:GEMM: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:GEMM_HP_REP2: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:FFT: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:FFT_small: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:b_eff: any of: b_eff/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml

Change repo name for VNx
  cmake/accl.cmake
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Add config and settings for U55c
  b_eff/configs/Xilinx_U55C_DDR_ACCL_buffers_hbm.cmake
  b_eff/settings/settings.link.xilinx.accl_buffers.u55c.hbm.ini
Due: build:b_eff, test:b_eff

Add U55c configs for LINPACK
  LINPACK/configs/Xilinx_U55C_B8_SB3_R2_ACCL.cmake
  LINPACK/settings/settings.link.xilinx.hpl_torus_accl.hbm.generator.ini
Due: build:LINPACK, test:LINPACK

Add b_eff PL scheduler
  b_eff/src/device/CMakeLists.txt
  b_eff/src/device/communication_ACCL_pl.cpp
Due: build:b_eff, test:b_eff

Add host support for PL scheduler
  b_eff/src/host/CMakeLists.txt
  b_eff/src/host/execution_types/execution.hpp
  b_eff/src/host/execution_types/execution_accl_pl.hpp
  b_eff/src/host/network_benchmark.cpp
  b_eff/src/host/network_benchmark.hpp
Due: build:b_eff, test:b_eff

Add config for PL scheduler
  b_eff/configs/Xilinx_U55C_DDR_ACCL_pl_hbm.cmake
Due: build:b_eff, test:b_eff

Set temporary branch for ACCL with recent features (Pl schedule and UDP fix)
  extern/CMakeLists.txt
Due: none

Add support for client arbiter
  b_eff/configs/Xilinx_U55C_DDR_ACCL_pl_hbm.cmake
  b_eff/settings/settings.link.xilinx.accl_pl.u55c.hbm.ini
  cmake/accl.cmake
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Fix build for b_eff with PL
  b_eff/configs/Xilinx_U55C_DDR_ACCL_pl_hbm.cmake
  b_eff/settings/settings.link.xilinx.accl_pl.u55c.hbm.ini
  b_eff/src/device/communication_ACCL_pl.cpp
  b_eff/src/host/execution_types/execution_accl_pl.hpp
  cmake/accl.cmake
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Update settings to use reduce_ops
  LINPACK/settings/settings.link.xilinx.hpl_torus_accl.hbm.generator.ini
Due: build:LINPACK, test:LINPACK

Update PTRANS stream approach
  PTRANS/configs/Xilinx_U55C_HBM_ACCL_stream.cmake
  PTRANS/settings/settings.link.xilinx.transpose_pq_accl_stream.hbm.ini
  PTRANS/src/device/transpose_PQ_ACCL_stream.cpp
Due: build:PTRANS, test:PTRANS

Add configs for HPL U55c
  LINPACK/configs/Xilinx_U55C_B8_SB3_R1_ACCL.cmake
  LINPACK/configs/Xilinx_U55C_B8_SB3_R2_HBM_PCIE.cmake
  LINPACK/settings/settings.link.xilinx.hpl_torus_pcie.hbm.generator.ini
Due: build:LINPACK, test:LINPACK

Update the SLR mapping and ACCL kernel names
  PTRANS/settings/settings.link.xilinx.transpose_pq_accl_stream.hbm.ini
Due: build:PTRANS, test:PTRANS

Add PTRANS baseline configs for U55c
  PTRANS/configs/Xilinx_U55C_HBM_PCIE.cmake
  PTRANS/settings/settings.compile.xilinx.transpose_pq_pcie.hbm.ini
  PTRANS/settings/settings.link.xilinx.transpose_pq_pcie.hbm.generator.ini
Due: build:PTRANS, test:PTRANS

Update CI script for Noctua2
  .gitlab-ci.yml
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Add ACCL to RPATH for convenience (PTRANS)
  PTRANS/src/host/CMakeLists.txt
  shared/CMakeLists.txt
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Add platform_str parameter
  shared/include/hpcc_benchmark.hpp
  shared/include/setup/fpga_setup.hpp
  shared/setup/fpga_setup.cpp
  shared/tests/hpcc_base_benchmark_test.cpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Reduce replications for PTRANS via streams
  PTRANS/configs/Xilinx_U55C_HBM_ACCL_stream.cmake
Due: build:PTRANS, test:PTRANS

Update PTRANS for stream_put transpose
  PTRANS/src/device/transpose_PQ_ACCL_stream.cpp
  PTRANS/src/host/CMakeLists.txt
  PTRANS/src/host/execution_types/execution_xrt_accl_stream_pq.hpp
  PTRANS/src/host/transpose_benchmark.hpp
  shared/CMakeLists.txt
  shared/include/hpcc_benchmark.hpp
  shared/setup/fpga_setup_accl.cpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Update ACCL source to dev branch
  extern/CMakeLists.txt
Due: none

Fix settings for PTRANS ACCL stream
  PTRANS/configs/Xilinx_U55C_HBM_ACCL_stream.cmake
  PTRANS/settings/settings.compile.xilinx.transpose_pq_pcie.hbm.ini
  PTRANS/settings/settings.link.xilinx.transpose_pq_accl_stream.hbm.ini
Due: build:PTRANS, test:PTRANS

Fix PTRANS emulation results
  PTRANS/src/device/transpose_PQ_ACCL_stream.cpp
  PTRANS/src/host/execution_types/execution_xrt_accl_stream_pq.hpp
  shared/setup/fpga_setup_accl.cpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Make start/stop BFM optional
  PTRANS/src/host/execution_types/execution_xrt_accl_stream_pq.hpp
Due: build:PTRANS, test:PTRANS

Add send/recv implementation for PTRANS with ACCL
  PTRANS/src/device/transpose_PQ_ACCL_stream_sendrecv.cpp
  PTRANS/src/host/execution_types/execution_xrt_accl_stream_pq_sendrecv.hpp
Due: build:PTRANS, test:PTRANS

ACCL emulation for b_eff
  b_eff/src/device/communication_ACCL_pl.cpp
  b_eff/src/host/CMakeLists.txt
  b_eff/src/host/execution_types/execution_accl_pl.hpp
  shared/setup/fpga_setup_accl.cpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Update LINPACK
  LINPACK/settings/settings.link.xilinx.hpl_torus_accl.hbm.generator.ini
  LINPACK/src/host/CMakeLists.txt
  PTRANS/src/host/execution_types/execution_xrt_accl_stream_pq.hpp
Due: build:PTRANS, build:LINPACK, test:PTRANS, test:LINPACK

Update PTRANS stream settings
  PTRANS/configs/Xilinx_U280_DDR_ACCL_stream.cmake
  PTRANS/settings/settings.link.xilinx.transpose_pq_accl_stream.hbm.ini
Due: build:PTRANS, test:PTRANS

Fix ACCL and XRT setup
  shared/setup/fpga_setup_accl.cpp
  shared/setup/fpga_setup_xrt.cpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Add ACCL stream flag to PTRANS
  PTRANS/src/host/transpose_benchmark.hpp
  PTRANS/src/host/transpose_data.cpp
  PTRANS/src/host/transpose_data.hpp
Due: build:PTRANS, test:PTRANS

Apply ACCL API changes to PTRANS
  PTRANS/src/host/execution_types/execution_xrt_accl_pq.hpp
  PTRANS/src/host/execution_types/execution_xrt_accl_stream_pq.hpp
  PTRANS/src/host/execution_types/execution_xrt_accl_stream_pq_sendrecv.hpp
Due: build:PTRANS, test:PTRANS

Add more ACCL debug output
  shared/setup/fpga_setup_accl.cpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Add sendrecv PTRANS kernel to build
  PTRANS/src/device/CMakeLists.txt
  PTRANS/src/host/CMakeLists.txt
Due: build:PTRANS, test:PTRANS

Rename sendrecv PTRANS kernels
  PTRANS/src/device/transpose_PQ_ACCL_stream_sendrecv.cpp
Due: build:PTRANS, test:PTRANS

Attempt to fix PTRANS sendrecv kernels
  PTRANS/src/device/transpose_PQ_ACCL_stream_sendrecv.cpp
Due: build:PTRANS, test:PTRANS

Extend memory alignment for b_eff
  b_eff/src/host/network_benchmark.hpp
Due: build:b_eff, test:b_eff

Add profiling config for b_eff
  b_eff/configs/Xilinx_U55C_HBM_ACCL_pl_profile.cmake
  b_eff/settings/settings.link.xilinx.accl_pl.u55c.hbm.profile.ini
Due: build:b_eff, test:b_eff

Fix IP address for hardware execution
  shared/setup/fpga_setup_accl.cpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Make debug output optional
  b_eff/src/host/execution_types/execution_accl.hpp
Due: build:b_eff, test:b_eff

Explicitly set ACCL buffer size in config
  b_eff/configs/Xilinx_U55C_DDR_ACCL_pl_hbm.cmake
Due: build:b_eff, test:b_eff

Make BFM optional in ACCL PL
  b_eff/src/host/execution_types/execution_accl_pl.hpp
Due: build:b_eff, test:b_eff
