Repository pc2/HPCC_FPGA: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

build:STREAM:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../STREAM -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/stream_kernels_single_emulate.aocx
    - build/bin/stream_kernels_emulate.aocx
    - build/bin/STREAM_FPGA_intel
  ...

build:RandomAccess:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../RandomAccess -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/random_access_kernels_single_emulate.aocx
    - build/bin/RandomAccess_intel
    - build/bin/RandomAccess_test_intel

build:PTRANS:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../PTRANS -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/transpose_DIAG_IEC_emulate.aocx
    - build/bin/transpose_PQ_IEC_emulate.aocx
    - build/bin/transpose_PQ_PCIE_emulate.aocx
  ...

build:LINPACK:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../LINPACK -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0 -DLOCAL_MEM_BLOCK_LOG=4 -DREGISTER_BLOCK_LOG=3 -DNUM_REPLICATIONS=3
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/hpl_torus_emulate.aocx
    - build/bin/Linpack_intel
  ...

build:GEMM:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../GEMM -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0 -DBLOCK_SIZE=32
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/gemm_base_emulate.aocx
    - build/bin/GEMM_intel
    - build/bin/GEMM_test_intel

build:GEMM_HP_REP2:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../GEMM -DDATA_TYPE=half -DNUM_REPLICATIONS=2 -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0 -DBLOCK_SIZE=32
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/gemm_base_emulate.aocx
    - build/bin/GEMM_intel
  ...

build:FFT:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../FFT -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/fft1d_float_8_emulate.aocx
    - build/bin/FFT_intel
    - build/bin/FFT_test_intel

build:FFT_small:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../FFT -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0 -DLOG_FFT_SIZE=4 -DNUM_REPLICATIONS=2
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/fft1d_float_8_emulate.aocx
    - build/bin/FFT_intel
    - build/bin/FFT_test_intel

build:b_eff:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../b_eff -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/communication_bw520n_emulate.aocx
    - build/bin/communication_bw520n_combined_loops_emulate.aocx
  ...

use pipeline pragma instead of unroll region
  PTRANS/src/device/transpose_PQ_PCIE.cpp
Due: build:PTRANS, test:PTRANS

Only sync data if required for baseline version
  PTRANS/src/host/execution_types/execution_xrt_pcie_pq.hpp
Due: build:PTRANS, test:PTRANS

Add variable for CCLO build parameters
  cmake/accl.cmake
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Fix compile flag handling
  cmake/kernelTargets.cmake
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Update ACCL calls to new dev signature
  PTRANS/src/host/execution_types/execution_xrt_accl_pq.hpp
Due: build:PTRANS, test:PTRANS

Set ACCL buffer size with cmake
  cmake/accl.cmake
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Work on matrix transpose host code
  PTRANS/CMakeLists.txt
  PTRANS/src/common/parameters.h.in
  PTRANS/src/host/execution_types/execution_xrt_accl_pq.hpp
  shared/setup/fpga_setup_accl.cpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

First compilable version HPL ACCL. No communicators!
  LINPACK/src/host/execution_types/execution_accl_buffers.hpp
  LINPACK/src/host/execution_types/execution_iec.hpp
  LINPACK/src/host/execution_types/execution_pcie.hpp
  LINPACK/src/host/execution_types/execution_types.hpp
  LINPACK/src/host/linpack_benchmark.hpp
  LINPACK/src/host/linpack_data.cpp
  LINPACK/src/host/main.cpp
Due: build:LINPACK, test:LINPACK

Add ACCL config for HPL
  LINPACK/configs/Xilinx_U280_B8_SB3_R2_DDR_ACCL_buffers.cmake
Due: build:LINPACK, test:LINPACK

Add support for new base impl for LINPACK
  LINPACK/src/host/CMakeLists.txt
  LINPACK/src/host/execution_types/execution_iec.hpp
  LINPACK/src/host/execution_types/execution_pcie.hpp
  LINPACK/src/host/linpack_benchmark.cpp
  LINPACK/src/host/linpack_benchmark.hpp
  LINPACK/src/host/linpack_data.cpp
  LINPACK/src/host/linpack_data.hpp
  LINPACK/src/host/main.cpp
Due: build:LINPACK, test:LINPACK

Update PCIE config for U280
  LINPACK/configs/Xilinx_U280_B8_SB3_R2_DDR_PCIE.cmake
Due: build:LINPACK, test:LINPACK

Change communicator call to new version
  LINPACK/src/host/execution_types/execution_accl_buffers.hpp
Due: build:LINPACK, test:LINPACK

Initialize kernels only once and reuse
  LINPACK/src/host/execution_types/execution_xrt_pcie.hpp
Due: build:LINPACK, test:LINPACK

Update for new communicator interface
  LINPACK/src/host/execution_types/execution_accl_buffers.hpp
Due: build:LINPACK, test:LINPACK

Add XRT PCIE host code
  LINPACK/src/host/execution_types/execution_types.hpp
  LINPACK/src/host/execution_types/execution_xrt_pcie.hpp
  LINPACK/src/host/linpack_benchmark.hpp
Due: build:LINPACK, test:LINPACK

Fix single FPGA ACCL host code
  LINPACK/src/host/execution_types/execution_accl_buffers.hpp
Due: build:LINPACK, test:LINPACK

Print diff for failing non-dist validation
  LINPACK/src/host/linpack_benchmark.hpp
Due: build:LINPACK, test:LINPACK

Fix creation of row communicator
  LINPACK/src/host/execution_types/execution_accl_buffers.hpp
Due: build:LINPACK, test:LINPACK

Refactor XRT host codes
  LINPACK/src/host/execution_types/execution_accl_buffers.hpp
  LINPACK/src/host/execution_types/execution_xrt_pcie.hpp
Due: build:LINPACK, test:LINPACK

Extend cmake to allow compiling multiple kernels for one link step
  cmake/kernelTargets.cmake
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Add firt C++ kernel version
  LINPACK/src/device/hpl_torus_PCIE.cpp
Due: build:LINPACK, test:LINPACK

Add ACCL kernel link
  LINPACK/src/device/CMakeLists.txt
  LINPACK/src/device/hpl_torus_ACCL_buffers.cpp
Due: build:LINPACK, test:LINPACK

Refactoring XRT host code
  LINPACK/src/host/execution_types/execution_xrt_pcie.hpp
Due: build:LINPACK, test:LINPACK

Fix xrt scheduling
  LINPACK/src/host/execution_types/execution_xrt_pcie.hpp
Due: build:LINPACK, test:LINPACK

Fix build for XRT host without ACCL
  LINPACK/src/host/execution_types/execution_types.hpp
  LINPACK/src/host/linpack_benchmark.hpp
Due: build:LINPACK, test:LINPACK

Adjust to changed ACCL interface
  LINPACK/src/host/execution_types/execution_accl_buffers.hpp
Due: build:LINPACK, test:LINPACK

Use CMake parameter for ACCL buffer size
  LINPACK/CMakeLists.txt
  LINPACK/src/common/parameters.h.in
Due: build:LINPACK, test:LINPACK

Add initial ACCL stream implementation
  PTRANS/configs/Xilinx_U280_DDR_ACCL_stream.cmake
  PTRANS/settings/settings.link.xilinx.transpose_pq_accl_stream.ddr.ini
  PTRANS/src/device/CMakeLists.txt
  PTRANS/src/device/transpose_PQ_ACCL_stream.cpp
Due: build:PTRANS, test:PTRANS

Adding tripcount for better reports
  PTRANS/src/device/transpose_PQ_ACCL_stream.cpp
Due: build:PTRANS, test:PTRANS

Add support for multiple CMAC kernels for UDP
  cmake/accl.cmake
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Add ACCL buffer size to b_eff
  b_eff/CMakeLists.txt
  b_eff/src/common/parameters.h.in
  b_eff/src/host/CMakeLists.txt
Due: build:b_eff, test:b_eff

Fix b_eff accl calls
  b_eff/src/host/execution_types/execution_accl.hpp
Due: build:b_eff, test:b_eff

Switch default accl branch to main
  extern/CMakeLists.txt
Due: none

Link PTRANS host with zmqpp
  PTRANS/src/host/CMakeLists.txt
Due: build:PTRANS, test:PTRANS

Add copy-a option to PTRANS
  PTRANS/src/host/transpose_benchmark.hpp
  PTRANS/src/host/transpose_data.cpp
  PTRANS/src/host/transpose_data.hpp
Due: build:PTRANS, test:PTRANS

Implement copy-a for accl
  PTRANS/src/host/execution_types/execution_xrt_accl_pq.hpp
Due: build:PTRANS, test:PTRANS

Implement copy-a for xrt
  PTRANS/src/host/execution_types/execution_xrt_pcie_pq.hpp
Due: build:PTRANS, test:PTRANS

Add proper ACCL UDP support on hardware
  PTRANS/src/host/execution_types/execution_xrt_accl_pq.hpp
  PTRANS/src/host/execution_types/execution_xrt_pcie_pq.hpp
  PTRANS/src/host/transpose_benchmark.hpp
  PTRANS/src/host/transpose_data.cpp
  PTRANS/src/host/transpose_data.hpp
  shared/CMakeLists.txt
  shared/setup/fpga_setup_accl.cpp
  shared/setup/fpga_setup_xrt.cpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Add ACCL support to b_eff host code
  b_eff/CMakeLists.txt
  b_eff/src/common/parameters.h.in
  b_eff/src/host/execution_types/execution_accl.hpp
Due: build:b_eff, test:b_eff

Use UDP for ACCL communication
  shared/setup/fpga_setup_accl.cpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Path conditions:
  build:STREAM: any of: STREAM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:RandomAccess: any of: RandomAccess/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:PTRANS: any of: PTRANS/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:LINPACK: any of: LINPACK/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:GEMM: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:GEMM_HP_REP2: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:FFT: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:FFT_small: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:b_eff: any of: b_eff/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:STREAM: any of: STREAM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:RandomAccess: any of: RandomAccess/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:PTRANS: any of: PTRANS/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:LINPACK: any of: LINPACK/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:GEMM: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:GEMM_HP_REP2: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:FFT: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:FFT_small: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:b_eff: any of: b_eff/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
