Repository pc2/HPCC_FPGA: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

build:STREAM:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../STREAM -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/stream_kernels_single_emulate.aocx
    - build/bin/stream_kernels_emulate.aocx
    - build/bin/STREAM_FPGA_intel
  ...

build:RandomAccess:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../RandomAccess -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/random_access_kernels_single_emulate.aocx
    - build/bin/RandomAccess_intel
    - build/bin/RandomAccess_test_intel

build:PTRANS:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../PTRANS -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/transpose_DIAG_IEC_emulate.aocx
    - build/bin/transpose_PQ_IEC_emulate.aocx
    - build/bin/transpose_PQ_PCIE_emulate.aocx
  ...

build:LINPACK:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../LINPACK -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0 -DLOCAL_MEM_BLOCK_LOG=4 -DREGISTER_BLOCK_LOG=3 -DNUM_REPLICATIONS=3
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/hpl_torus_emulate.aocx
    - build/bin/Linpack_intel
  ...

build:GEMM:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../GEMM -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0 -DBLOCK_SIZE=32
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/gemm_base_emulate.aocx
    - build/bin/GEMM_intel
    - build/bin/GEMM_test_intel

build:GEMM_HP_REP2:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../GEMM -DDATA_TYPE=half -DNUM_REPLICATIONS=2 -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0 -DBLOCK_SIZE=32
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/gemm_base_emulate.aocx
    - build/bin/GEMM_intel
  ...

build:FFT:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../FFT -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/fft1d_float_8_emulate.aocx
    - build/bin/FFT_intel
    - build/bin/FFT_test_intel

build:FFT_small:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../FFT -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0 -DLOG_FFT_SIZE=4 -DNUM_REPLICATIONS=2
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/fft1d_float_8_emulate.aocx
    - build/bin/FFT_intel
    - build/bin/FFT_test_intel

build:b_eff:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../b_eff -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/communication_bw520n_emulate.aocx
    - build/bin/communication_bw520n_combined_loops_emulate.aocx
  ...

Add extra thread to update OCL queues in background
  LINPACK/src/host/execution_types/execution_pcie.hpp
Due: build:LINPACK, test:LINPACK

Improve performance of reference GEMM
  GEMM/src/host/gemm_benchmark.cpp
Due: build:GEMM, build:GEMM_HP_REP2, test:GEMM, test:GEMM_HP_REP2

Fix HPL PCIe multi repetition validation bug
  LINPACK/src/host/execution_types/execution_pcie.hpp
Due: build:LINPACK, test:LINPACK

PTRANS fix early kernel start
  PTRANS/src/host/execution_types/execution_pcie_pq.hpp
Due: build:PTRANS, test:PTRANS

Change HPL PCIe to use writebuffer and events
  LINPACK/src/host/execution_types/execution_pcie.hpp
Due: build:LINPACK, test:LINPACK

Fix Issue 6
  LINPACK/src/host/execution_types/execution_pcie.hpp
Due: build:LINPACK, test:LINPACK

add sanity check for input variables of network benchmark
  b_eff/src/host/network_benchmark.cpp
Due: build:b_eff, test:b_eff

Inline register GEMM
  GEMM/src/device/gemm_base.cl
Due: build:GEMM, build:GEMM_HP_REP2, test:GEMM, test:GEMM_HP_REP2

Add missing emplace in HPL host code
  LINPACK/src/host/execution_types/execution_pcie.hpp
Due: build:LINPACK, test:LINPACK

Optimize HPL PCIe host code
  LINPACK/src/host/execution_types/execution_pcie.hpp
Due: build:LINPACK, test:LINPACK

Enable memory bursts for FFT on U280
  FFT/src/device/fft1d_float_8.cl
  FFT/src/device/fft_8.cl
Due: build:FFT, build:FFT_small, test:FFT, test:FFT_small

Update main readme
  README.md
Due: none

Update version numbers for LINPACk and PTRANS
  LINPACK/CHANGELOG
  LINPACK/CMakeLists.txt
  LINPACK/Readme.md
  PTRANS/CHANGELOG
  PTRANS/CMakeLists.txt
Due: build:PTRANS, build:LINPACK, test:PTRANS, test:LINPACK

Optimize HPL IEC host code
  LINPACK/src/host/execution_types/execution_iec.hpp
Due: build:LINPACK, test:LINPACK

Simplify memory layout for PTRANS on U280
  PTRANS/src/device/transpose_PQ_PCIE.cl
Due: build:PTRANS, test:PTRANS

Fix dependencies of OCL task on HPL PCIe
  LINPACK/src/host/execution_types/execution_pcie.hpp
Due: build:LINPACK, test:LINPACK

Add Xilinx kernel name patch
  LINPACK/src/host/execution_types/execution_pcie.hpp
Due: build:LINPACK, test:LINPACK

Apply combined pipeline patch
  LINPACK/CMakeLists.txt
  LINPACK/src/common/parameters.h.in
  LINPACK/src/device/hpl_torus_IEC.cl
  LINPACK/src/device/hpl_torus_PCIE.cl
Due: build:LINPACK, test:LINPACK

Update googletest to 1.11
  extern/CMakeLists.txt
Due: none

Reorder Host kernel execution for intel emulation
  .gitlab-ci.yml
  PTRANS/CMakeLists.txt
  PTRANS/src/common/parameters.h.in
  PTRANS/src/host/execution_types/execution_intel.hpp
  PTRANS/src/host/execution_types/execution_intel_pq.hpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Fix googletest download link
  extern/CMakeLists.txt
Due: none

Fix PTRANS emulation reorder
  PTRANS/CMakeLists.txt
  PTRANS/src/common/parameters.h.in
  PTRANS/src/host/execution_types/execution_intel.hpp
  PTRANS/src/host/execution_types/execution_intel_pq.hpp
Due: build:PTRANS, test:PTRANS

Add emulation reorder to b_eff
  b_eff/CMakeLists.txt
  b_eff/src/common/parameters.h.in
  b_eff/src/device/communication_bw520n_IEC.cl
  b_eff/src/host/execution_types/execution_iec.hpp
Due: build:b_eff, test:b_eff

Add emulation reorder to CI
  .gitlab-ci.yml
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Increase delta for LINPACK unit tests
  LINPACK/tests/test_kernel_communication.cpp
Due: build:LINPACK, test:LINPACK

Remove host pointer fro HPL PICE execution
  LINPACK/src/host/execution_types/execution_pcie.hpp
Due: build:LINPACK, test:LINPACK

Note on OpenCL pipes
  README.md
Due: none

Fix printed matrix size in PTRANS
  PTRANS/src/host/transpose_data.cpp
Due: build:PTRANS, test:PTRANS

PTRANS allow non-quadratic local matrices
  PTRANS/src/host/data_handlers/pq.hpp
  PTRANS/src/host/execution_types/execution_pcie_pq.hpp
  PTRANS/src/host/transpose_benchmark.cpp
Due: build:PTRANS, test:PTRANS

Start non-quadratic impl. IEC
  PTRANS/src/host/execution_types/execution_intel_pq.hpp
  PTRANS/src/host/transpose_benchmark.cpp
Due: build:PTRANS, test:PTRANS

Make IEC emulation work with all matrix sizes
  PTRANS/src/host/execution_types/execution_intel_pq.hpp
Due: build:PTRANS, test:PTRANS

Support for non-quadratic local matrices IEC
  PTRANS/src/host/execution_types/execution_intel_pq.hpp
Due: build:PTRANS, test:PTRANS

Add non-quadratic local matrix support for PCIE
  PTRANS/src/device/transpose_PQ_PCIE.cl
  PTRANS/src/host/execution_types/execution_pcie_pq.hpp
Due: build:PTRANS, test:PTRANS

First version of PQ distribution by Choi et al.
  PTRANS/CMakeLists.txt
  PTRANS/src/common/parameters.h.in
  PTRANS/src/host/data_handlers/pq.hpp
  PTRANS/src/host/transpose_benchmark.cpp
  PTRANS/src/host/transpose_data.cpp
  PTRANS/src/host/transpose_data.hpp
Due: build:PTRANS, test:PTRANS

Path conditions:
  build:STREAM: any of: STREAM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:RandomAccess: any of: RandomAccess/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:PTRANS: any of: PTRANS/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:LINPACK: any of: LINPACK/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:GEMM: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:GEMM_HP_REP2: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:FFT: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:FFT_small: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:b_eff: any of: b_eff/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:STREAM: any of: STREAM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:RandomAccess: any of: RandomAccess/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:PTRANS: any of: PTRANS/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:LINPACK: any of: LINPACK/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:GEMM: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:GEMM_HP_REP2: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:FFT: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:FFT_small: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:b_eff: any of: b_eff/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
