Repository pc2/HPCC_FPGA: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Path conditions:
  build:STREAM: any of: STREAM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:RandomAccess: any of: RandomAccess/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:PTRANS: any of: PTRANS/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:LINPACK: any of: LINPACK/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:GEMM: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:GEMM_HP_REP2: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:FFT: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:FFT_small: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:b_eff: any of: b_eff/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:STREAM: any of: STREAM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:RandomAccess: any of: RandomAccess/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:PTRANS: any of: PTRANS/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:LINPACK: any of: LINPACK/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:GEMM: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:GEMM_HP_REP2: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:FFT: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:FFT_small: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:b_eff: any of: b_eff/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml

Add TCP host setup for ACCL
  b_eff/src/host/execution_types/execution_accl.hpp
  b_eff/src/host/execution_types/execution_accl_pl.hpp
  b_eff/src/host/network_benchmark.cpp
  b_eff/src/host/network_benchmark.hpp
  shared/include/hpcc_benchmark.hpp
  shared/include/setup/fpga_setup_accl.hpp
  shared/setup/fpga_setup_accl.cpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Fix ACCL configuration bug
  cmake/general_benchmark_build_setup.cmake
  extern/CMakeLists.txt
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Include ACCL earlier in the config process
  cmake/general_benchmark_build_setup.cmake
  cmake/kernelTargets.cmake
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Build PTRANS with ACCl context
  PTRANS/src/host/execution_types/execution_xrt_accl_pq.hpp
  PTRANS/src/host/execution_types/execution_xrt_accl_stream_pq.hpp
  PTRANS/src/host/execution_types/execution_xrt_accl_stream_pq_sendrecv.hpp
  PTRANS/src/host/execution_types/execution_xrt_pcie_pq.hpp
  PTRANS/src/host/main.cpp
  PTRANS/src/host/transpose_data.hpp
Due: build:PTRANS, test:PTRANS

Compile LINPACK with new ACCL context
  LINPACK/src/host/execution_types/execution_accl_buffers.hpp
  LINPACK/src/host/execution_types/execution_iec.hpp
  LINPACK/src/host/execution_types/execution_pcie.hpp
  LINPACK/src/host/execution_types/execution_xrt_pcie.hpp
  LINPACK/src/host/linpack_benchmark.hpp
  LINPACK/src/host/linpack_data.cpp
  LINPACK/src/host/linpack_data.hpp
  LINPACK/src/host/main.cpp
Due: build:LINPACK, test:LINPACK

Split up parameter.h generation to reduce redundancy
  LINPACK/src/common/parameters.h.in
  PTRANS/src/common/parameters.h.in
  b_eff/src/common/parameters.h.in
  cmake/general_benchmark_build_setup.cmake
  shared/include/base_parameters.h.in
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Explicitly load ACCL network stacks as dep
  cmake/accl.cmake
  extern/CMakeLists.txt
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Refactor hpcc base code
  shared/CMakeLists.txt
  shared/hpcc_settings.cpp
  shared/include/hpcc_benchmark.hpp
  shared/include/hpcc_settings.hpp
  shared/include/setup/fpga_setup_accl.hpp
  shared/setup/fpga_setup_accl.cpp
  shared/setup/fpga_setup_xrt.cpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Fix base tests to compile with xrt
  shared/tests/hpcc_base_benchmark_test.cpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Fix test build for network kernel
  cmake/kernelTargets.cmake
  cmake/unitTestTargets.cmake
  shared/tests/CMakeLists.txt
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Fix performance issue with XRT PCIe HPL host
  LINPACK/src/host/execution_types/execution_xrt_pcie.hpp
Due: build:LINPACK, test:LINPACK

do not use format in template
  PTRANS/src/device/transpose_DIAG_IEC.cl
Due: build:PTRANS, test:PTRANS

use new generator for all benchmarks
  FFT/settings/settings.gen.intel.fft1d_float_8.hbm.py
  FFT/settings/settings.gen.intel.fft1d_float_8.svm.py
  FFT/src/device/fft1d_float_8.cl
  GEMM/settings/settings.gen.intel.gemm_base.520n_mx.py
  GEMM/settings/settings.gen.intel.gemm_base.hbm.py
  GEMM/src/device/gemm_base.cl
  LINPACK/src/device/hpl_torus_IEC.cl
  LINPACK/src/device/hpl_torus_PCIE.cl
  PTRANS/src/device/transpose_DIAG_IEC.cl
  PTRANS/src/device/transpose_DIAG_PCIE.cl
  PTRANS/src/device/transpose_PQ_IEC.cl
  PTRANS/src/device/transpose_PQ_PCIE.cl
  PTRANS/src/device/transpose_c2_DIAG_IEC.cl
  RandomAccess/src/device/random_access_kernels_single.cl
  STREAM/src/device/stream_kernels.cl
  b_eff/src/device/communication_bw520n_IEC.cl
  cmake/general_benchmark_build_setup.cmake
  scripts/code_generator/README.md
  scripts/code_generator/generator.py
  scripts/code_generator/generator2.py
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

add generator2.py v0.1
  STREAM/src/device/stream_kernels_single.cl
  cmake/general_benchmark_build_setup.cmake
  scripts/code_generator/generator2.py
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

move default attributes to template
  FFT/settings/settings.gen.intel.fft1d_float_8.hbm.py
  FFT/settings/settings.gen.intel.fft1d_float_8.svm.py
  FFT/src/device/fft1d_float_8.cl
  GEMM/settings/settings.gen.intel.gemm_base.520n_mx.py
  GEMM/settings/settings.gen.intel.gemm_base.hbm.py
  GEMM/src/device/gemm_base.cl
  STREAM/src/device/stream_kernels_single.cl
  scripts/code_generator/generator.py
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

python list comprehension is better than jinja macros
  FFT/src/device/fft1d_float_8.cl
  GEMM/src/device/gemm_base.cl
  STREAM/src/device/stream_kernels_single.cl
  scripts/code_generator/generator.py
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

add default attributes for PTRANS and RandomAccess
  PTRANS/src/device/transpose_PQ_PCIE.cl
  RandomAccess/src/device/random_access_kernels_single.cl
Due: build:RandomAccess, build:PTRANS, test:RandomAccess, test:PTRANS

use templating instead of format everywhere
  PTRANS/src/device/transpose_PQ_IEC.cl
  PTRANS/src/device/transpose_c2_DIAG_IEC.cl
  b_eff/src/device/communication_bw520n_IEC.cl
Due: build:PTRANS, build:b_eff, test:PTRANS, test:b_eff

update code_generator README.md
  scripts/code_generator/README.md
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

add build:docs pipeline
  .gitlab-ci.yml
  scripts/code_generator/requirements.txt
  scripts/evaluation/requirements.txt
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

update main README.md
  README.md
Due: none

write to stdout if no outputfile is given
  scripts/code_generator/generator.py
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

fix b_eff template
  b_eff/src/device/communication_bw520n_IEC.cl
Due: build:b_eff, test:b_eff

add .clang-format file
  .clang-format
Due: none

add prepare_tests script for b_eff and PTRANS
  .gitlab-ci.yml
  PTRANS/scripts/prepare_tests.sh
  b_eff/scripts/prepare_tests.sh
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

add check stage (without really checking)
  .gitlab-ci.yml
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

allow failure of STREAM_HP and GEMM_HP_REP2
  .gitlab-ci.yml
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

use explicit artifacts
  .gitlab-ci.yml
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Fix platform string behavior
  shared/setup/fpga_setup.cpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

output unit and value explicitly
  shared/include/hpcc_benchmark.hpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

fix LINPACK result printing
  LINPACK/src/host/linpack_benchmark.cpp
Due: build:LINPACK, test:LINPACK

dump env, timings, git commit and config time
  LINPACK/src/common/parameters.h.in
  LINPACK/src/host/execution_types/execution_iec.hpp
  LINPACK/src/host/execution_types/execution_pcie.hpp
  LINPACK/src/host/linpack_benchmark.cpp
  LINPACK/src/host/linpack_benchmark.hpp
  LINPACK/tests/test_kernel_functionality_and_host_integration.cpp
  shared/include/hpcc_benchmark.hpp
  shared/tests/hpcc_base_benchmark_test.cpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

add version to dump
  shared/include/hpcc_benchmark.hpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

output correct unit in json
  shared/include/hpcc_benchmark.hpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

first approach
  LINPACK/src/host/linpack_benchmark.cpp
  LINPACK/src/host/linpack_benchmark.hpp
  extern/CMakeLists.txt
  shared/CMakeLists.txt
  shared/include/hpcc_benchmark.hpp
  shared/tests/hpcc_base_benchmark_test.cpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

add dump for transpose
  PTRANS/src/common/parameters.h.in
  PTRANS/src/host/execution_types/execution_cpu.hpp
  PTRANS/src/host/execution_types/execution_intel.hpp
  PTRANS/src/host/execution_types/execution_intel_pq.hpp
  PTRANS/src/host/execution_types/execution_pcie.hpp
  PTRANS/src/host/execution_types/execution_pcie_pq.hpp
  PTRANS/src/host/transpose_benchmark.cpp
  PTRANS/src/host/transpose_benchmark.hpp
  PTRANS/src/host/transpose_data.hpp
  PTRANS/tests/test_host_functionality.cpp
  PTRANS/tests/test_kernel_functionality_and_host_integration.cpp
  shared/include/hpcc_benchmark.hpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

add dump for STREAM
  STREAM/src/common/parameters.h.in
  STREAM/src/host/execution.hpp
  STREAM/src/host/execution_default.cpp
  STREAM/src/host/stream_benchmark.cpp
  STREAM/src/host/stream_benchmark.hpp
  STREAM/tests/test_kernel_functionality_and_host_integration.cpp
Due: build:STREAM, test:STREAM

add dump for GEMM and FFT
  FFT/src/common/parameters.h.in
  FFT/src/host/execution.h
  FFT/src/host/execution_default.cpp
  FFT/src/host/fft_benchmark.cpp
  FFT/src/host/fft_benchmark.hpp
  FFT/tests/test_execution_functionality.cpp
  GEMM/src/common/parameters.h.in
  GEMM/src/host/execution.h
  GEMM/src/host/execution_default.cpp
  GEMM/src/host/gemm_benchmark.cpp
  GEMM/src/host/gemm_benchmark.hpp
  GEMM/tests/test_kernel_functionality_and_host_integration.cpp
  shared/include/hpcc_benchmark.hpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

add dump for RandomAccess
  RandomAccess/src/common/parameters.h.in
  RandomAccess/src/host/execution.h
  RandomAccess/src/host/execution_single.cpp
  RandomAccess/src/host/random_access_benchmark.cpp
  RandomAccess/src/host/random_access_benchmark.hpp
  RandomAccess/tests/test_kernel_functionality_and_host_integration.cpp
Due: build:RandomAccess, test:RandomAccess

add dump for b_eff
  b_eff/src/common/parameters.h.in
  b_eff/src/host/execution.h
  b_eff/src/host/execution_types/execution_cpu.hpp
  b_eff/src/host/execution_types/execution_iec.hpp
  b_eff/src/host/execution_types/execution_pcie.hpp
  b_eff/src/host/network_benchmark.cpp
  b_eff/src/host/network_benchmark.hpp
  b_eff/tests/test_kernel_functionality_and_host_integration.cpp
  shared/include/hpcc_benchmark.hpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff
