Repository pc2/HPCC_FPGA: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Path conditions:
  build:STREAM: any of: STREAM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:RandomAccess: any of: RandomAccess/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:PTRANS: any of: PTRANS/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:LINPACK: any of: LINPACK/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:GEMM: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:GEMM_HP_REP2: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:FFT: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:FFT_small: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:b_eff: any of: b_eff/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:STREAM: any of: STREAM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:RandomAccess: any of: RandomAccess/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:PTRANS: any of: PTRANS/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:LINPACK: any of: LINPACK/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:GEMM: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:GEMM_HP_REP2: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:FFT: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:FFT_small: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:b_eff: any of: b_eff/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml

Partial restructuring code for XRT
  PTRANS/src/host/data_handlers/diagonal.hpp
  PTRANS/src/host/data_handlers/handler.hpp
  PTRANS/src/host/data_handlers/pq.hpp
  PTRANS/src/host/execution_types/execution_cpu.hpp
  PTRANS/src/host/execution_types/execution_intel.hpp
  PTRANS/src/host/execution_types/execution_intel_pq.hpp
  PTRANS/src/host/execution_types/execution_pcie.hpp
  PTRANS/src/host/execution_types/execution_pcie_pq.hpp
  PTRANS/src/host/main.cpp
  PTRANS/src/host/transpose_benchmark.cpp
  PTRANS/src/host/transpose_benchmark.hpp
  b_eff/CMakeLists.txt
  b_eff/src/host/execution_types/execution.hpp
  b_eff/src/host/execution_types/execution_accl.hpp
  b_eff/src/host/network_benchmark.hpp
  cmake/general_benchmark_build_setup.cmake
  cmake/unitTestTargets.cmake
  shared/CMakeLists.txt
  shared/include/hpcc_benchmark.hpp
  shared/include/setup/fpga_setup_xrt.hpp
  shared/setup/fpga_setup_accl.cpp
  shared/setup/fpga_setup_xrt.cpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Attempt fix generic PTRANS impl
  PTRANS/src/host/CMakeLists.txt
  PTRANS/src/host/transpose_benchmark.hpp
Due: build:PTRANS, test:PTRANS

Add template to data handler calls
  PTRANS/src/host/transpose_benchmark.hpp
Due: build:PTRANS, test:PTRANS

Add explicit this to transpose benchmark
  PTRANS/src/host/transpose_benchmark.hpp
Due: build:PTRANS, test:PTRANS

Compilable generic PTRANS
  PTRANS/src/host/CMakeLists.txt
  PTRANS/src/host/data_handlers/diagonal.hpp
  PTRANS/src/host/data_handlers/pq.hpp
  PTRANS/src/host/execution_types/execution_intel_pq.hpp
  PTRANS/src/host/execution_types/execution_pcie.hpp
  PTRANS/src/host/execution_types/execution_pcie_pq.hpp
  PTRANS/src/host/transpose_benchmark.hpp
Due: build:PTRANS, test:PTRANS

Fix working with OCL bindings
  PTRANS/src/host/main.cpp
  PTRANS/src/host/transpose_benchmark.hpp
  shared/CMakeLists.txt
  shared/include/hpcc_benchmark.hpp
  shared/setup/fpga_setup.cpp
  shared/setup/fpga_setup_accl.cpp
  shared/setup/fpga_setup_xrt.cpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Update PTRANS for XRT only execution
  PTRANS/src/host/data_handlers/diagonal.hpp
  PTRANS/src/host/data_handlers/handler.hpp
  PTRANS/src/host/data_handlers/pq.hpp
  PTRANS/src/host/execution_types/execution_cpu.hpp
  PTRANS/src/host/execution_types/execution_intel.hpp
  PTRANS/src/host/execution_types/execution_intel_pq.hpp
  PTRANS/src/host/execution_types/execution_pcie.hpp
  PTRANS/src/host/execution_types/execution_pcie_pq.hpp
  PTRANS/src/host/execution_types/execution_xrt_accl_pq.hpp
  PTRANS/src/host/execution_types/execution_xrt_pcie_pq.hpp
  PTRANS/src/host/transpose_benchmark.cpp
  PTRANS/src/host/transpose_benchmark.hpp
  PTRANS/src/host/transpose_data.cpp
  PTRANS/src/host/transpose_data.hpp
Due: build:PTRANS, test:PTRANS

Support for XRT w/o ACCL in base code
  cmake/general_benchmark_build_setup.cmake
  extern/CMakeLists.txt
  shared/CMakeLists.txt
  shared/include/hpcc_benchmark.hpp
  shared/include/setup/fpga_setup.hpp
  shared/setup/fpga_setup.cpp
  shared/setup/fpga_setup_accl.cpp
  shared/setup/fpga_setup_xrt.cpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Fix kernel arguments for XRT execution
  PTRANS/src/host/execution_types/execution_xrt_pcie_pq.hpp
Due: build:PTRANS, test:PTRANS

Add transpose ACCL implementation
  PTRANS/src/host/data_handlers/pq.hpp
  PTRANS/src/host/execution_types/execution_xrt_accl_pq.hpp
  PTRANS/src/host/execution_types/execution_xrt_pcie_pq.hpp
  shared/include/hpcc_benchmark.hpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Change ACCL dependency to dev branch
  extern/CMakeLists.txt
Due: none

Only initialize ACCL when ACCL implementation is used
  shared/include/hpcc_benchmark.hpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Add YCM config to gitignore
  .gitignore
Due: none

Update extenr deps to XRT simulation branch
  extern/CMakeLists.txt
Due: none

Adapt consturctor to new signature
  shared/setup/fpga_setup_accl.cpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Add debug logging and fixes of ACCL execution
  PTRANS/src/host/execution_types/execution_xrt_accl_pq.hpp
Due: build:PTRANS, test:PTRANS

Refactoring and cleanup of ACCL host code
  PTRANS/src/host/execution_types/execution_xrt_accl_pq.hpp
  PTRANS/src/host/execution_types/execution_xrt_pcie_pq.hpp
Due: build:PTRANS, test:PTRANS

Fix faulty derived data type
  PTRANS/src/host/data_handlers/pq.hpp
Due: build:PTRANS, test:PTRANS

Add emulation switch for ACCL to benchmarks
  shared/include/hpcc_benchmark.hpp
  shared/include/setup/fpga_setup_accl.hpp
  shared/setup/fpga_setup_accl.cpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Add ACCL buffers implementation for PTRANS
  PTRANS/src/device/transpose_PQ_ACCL_buffers.cl
Due: build:PTRANS, test:PTRANS

Include ACCL build to HPCC builds
  PTRANS/src/device/CMakeLists.txt
  cmake/accl.cmake
  cmake/kernelTargets.cmake
  extern/CMakeLists.txt
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

First version for ACCL+PTRANS synth
  PTRANS/configs/Xilinx_U280_DDR_ACCL_buffers.cmake
  PTRANS/settings/settings.link.xilinx.transpose_pq_accl_buffers.ddr.ini
  cmake/accl.cmake
  cmake/kernelTargets.cmake
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Update configurations for first synthesis
  b_eff/configs/Xilinx_U280_DDR_ACCL_buffers_ddr.cmake
  b_eff/configs/Xilinx_U280_DDR_ACCL_buffers_hbm.cmake
  b_eff/settings/settings.compile.xilinx.accl_buffers.ini
  b_eff/settings/settings.link.xilinx.accl_buffers.ddr.ini
  b_eff/settings/settings.link.xilinx.accl_buffers.hbm.ini
  b_eff/src/device/CMakeLists.txt
  b_eff/src/device/communication_ACCL.cl
Due: build:b_eff, test:b_eff

Change Kernel ordering on SLRs
  PTRANS/settings/settings.link.xilinx.transpose_pq_accl_buffers.ddr.ini
Due: build:PTRANS, test:PTRANS

Fix placement of kernels in b_eff DDR
  b_eff/settings/settings.link.xilinx.accl_buffers.ddr.ini
Due: build:b_eff, test:b_eff

Update ACCL cmake scripts for TCP
  cmake/accl.cmake
  cmake/kernelTargets.cmake
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Add ACCL TCP configs for PTRANS
  PTRANS/configs/Xilinx_U280_DDR_ACCL_TCP_buffers.cmake
  PTRANS/settings/settings.link.xilinx.transpose_pq_accl_tcp_buffers.ddr.ini
Due: build:PTRANS, test:PTRANS

Create unified device target for ACCL
  cmake/accl.cmake
  cmake/kernelTargets.cmake
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Also call make installip
  cmake/accl.cmake
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Fix b_eff host code build scripts
  b_eff/src/host/CMakeLists.txt
  b_eff/src/host/network_benchmark.hpp
Due: build:b_eff, test:b_eff

Reformatting and fix data read back
  PTRANS/src/host/execution_types/execution_xrt_pcie_pq.hpp
Due: build:PTRANS, test:PTRANS

Fix offset calculation of MPI transpose
  PTRANS/src/host/data_handlers/pq.hpp
Due: build:PTRANS, test:PTRANS

Add number of wrong entries to output
  PTRANS/src/host/transpose_benchmark.hpp
Due: build:PTRANS, test:PTRANS

Add support for C++ kernel code
  cmake/kernelTargets.cmake
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Add C++ baseline for PTRANS
  PTRANS/src/device/transpose_PQ_ACCL_buffers.cl
  PTRANS/src/device/transpose_PQ_ACCL_buffers.cpp
  PTRANS/src/device/transpose_PQ_PCIE.cpp
Due: build:PTRANS, test:PTRANS

Add copying for other kernel replications
  PTRANS/src/host/execution_types/execution_xrt_accl_pq.hpp
Due: build:PTRANS, test:PTRANS

Add FORCE_FILE_ENDING flag for convenience
  cmake/kernelTargets.cmake
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Remove need to be power of 2 for PTRANS block size
  PTRANS/src/device/transpose_PQ_PCIE.cpp
Due: build:PTRANS, test:PTRANS

Add .cpp as possible ending for custom kernels
  cmake/customKernelTargets.cmake
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Remove compile settings from linking call
  cmake/kernelTargets.cmake
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff
