Repository pc2/HPCC_FPGA: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Path conditions:
  build:STREAM: any of: STREAM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:RandomAccess: any of: RandomAccess/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:PTRANS: any of: PTRANS/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:LINPACK: any of: LINPACK/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:GEMM: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:GEMM_HP_REP2: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:FFT: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:FFT_small: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:b_eff: any of: b_eff/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:STREAM: any of: STREAM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:RandomAccess: any of: RandomAccess/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:PTRANS: any of: PTRANS/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:LINPACK: any of: LINPACK/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:GEMM: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:GEMM_HP_REP2: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:FFT: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:FFT_small: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:b_eff: any of: b_eff/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml

Fix ACCL pl emulation w/o bitstream
  b_eff/src/host/execution_types/execution_accl_pl.hpp
Due: build:b_eff, test:b_eff

Profile everything
  b_eff/settings/settings.link.xilinx.accl_pl.u55c.hbm.profile.ini
Due: build:b_eff, test:b_eff

Fix memory bank for top kernel
  LINPACK/src/host/execution_types/execution_xrt_pcie.hpp
Due: build:LINPACK, test:LINPACK

Fix memory bank in HPL ACCL host code
  LINPACK/src/host/execution_types/execution_accl_buffers.hpp
Due: build:LINPACK, test:LINPACK

Add PTRANS ACCL profile config
  PTRANS/configs/Xilinx_U55C_HBM_ACCL_stream_profile.cmake
  PTRANS/settings/settings.link.xilinx.transpose_pq_accl_stream.hbm.profile.ini
Due: build:PTRANS, test:PTRANS

LINPACK ACCL update configs
  LINPACK/configs/Xilinx_U55C_B8_SB3_R1_ACCL.cmake
  LINPACK/configs/Xilinx_U55C_B8_SB3_R2_HBM_PCIE.cmake
  LINPACK/settings/settings.link.xilinx.hpl_torus_accl.hbm.u55c.generator.ini
Due: build:LINPACK, test:LINPACK

LINPACK add profile config for U55c
  LINPACK/configs/Xilinx_U55C_B8_SB3_R1_ACCL_profile.cmake
  LINPACK/settings/settings.link.xilinx.hpl_torus_accl.hbm.u55c.profile.generator.ini
Due: build:LINPACK, test:LINPACK

Add profiling config for PTRANS ACCL on U280
  PTRANS/configs/Xilinx_U280_HBM_ACCL_stream_profile.cmake
  PTRANS/settings/settings.link.xilinx.transpose_pq_accl_stream.hbm.u280.profile.ini
Due: build:PTRANS, test:PTRANS

Set LINPACk ACCL buffer size suffiently large
  LINPACK/configs/Xilinx_U55C_B8_SB3_R1_ACCL.cmake
Due: build:LINPACK, test:LINPACK

Add profile config for b_eff U280
  b_eff/configs/Xilinx_U280_HBM_ACCL_pl_profile.cmake
  b_eff/settings/settings.link.xilinx.accl_pl.u280.hbm.profile.ini
Due: build:b_eff, test:b_eff

Fixes in b_eff ACCL PL host code
  b_eff/src/host/execution_types/execution_accl_pl.hpp
Due: build:b_eff, test:b_eff

Update b_eff ACCL profile link config
  b_eff/settings/settings.link.xilinx.accl_pl.u55c.hbm.profile.ini
Due: build:b_eff, test:b_eff

Specify the important profiling metrics for PTRANS ACCL
  PTRANS/settings/settings.link.xilinx.transpose_pq_accl_stream.hbm.profile.ini
Due: build:PTRANS, test:PTRANS

Fix make targets
  LINPACK/Readme.md
Due: build:LINPACK, test:LINPACK

Add R3 config for Linpack on U280
  LINPACK/configs/Xilinx_U280_B8_SB3_R3_DDR_PCIE.cmake
  LINPACK/settings/settings.link.xilinx.hpl_torus_pcie.distribute_kernels.hbm.generator.ini
Due: build:LINPACK, test:LINPACK

Profiling U280 b_eff PL
  b_eff/configs/Xilinx_U280_HBM_ACCL_pl_profile.cmake
  b_eff/settings/settings.link.xilinx.accl_pl.u280.hbm.profile.ini
Due: build:b_eff, test:b_eff

Fix config naming
  LINPACK/configs/Xilinx_U280_B8_SB3_R3_HBM_PCIE.cmake
Due: build:LINPACK, test:LINPACK

Add PTRANS U280 ACCL stream config
  PTRANS/configs/Xilinx_U280_HBM_ACCL_stream.cmake
  PTRANS/settings/settings.link.xilinx.transpose_pq_accl_stream.hbm.u280.ini
Due: build:PTRANS, test:PTRANS

Fix PTRANS PCIE DDR config for U280
  PTRANS/settings/settings.link.xilinx.transpose_pq_pcie.ddr.generator.ini
Due: build:PTRANS, test:PTRANS

Make zmq optional in PTRANS w/o ACCL
  PTRANS/src/host/CMakeLists.txt
Due: build:PTRANS, test:PTRANS

Use old platform for synthesis
  PTRANS/configs/Xilinx_U280_HBM_ACCL_stream.cmake
Due: build:PTRANS, test:PTRANS

Reduce target clock frequency of design
  LINPACK/configs/Xilinx_U280_B8_SB3_R2_DDR_PCIE.cmake
Due: build:LINPACK, test:LINPACK

Fix device selection
  PTRANS/configs/Xilinx_U280_DDR_PCIE.cmake
  shared/setup/fpga_setup_xrt.cpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Switch to XRT host code
  PTRANS/configs/Xilinx_U280_DDR_PCIE.cmake
Due: build:PTRANS, test:PTRANS

Fix build scripts for XRT
  PTRANS/src/host/CMakeLists.txt
  shared/CMakeLists.txt
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Remove ACCL deps from PCIE config
  LINPACK/configs/Xilinx_U280_B8_SB3_R2_DDR_PCIE.cmake
Due: build:LINPACK, test:LINPACK

Add config for U280 HPL with ACCL
  LINPACK/configs/Xilinx_U280_B8_SB3_R1_ACCL.cmake
  LINPACK/settings/settings.link.xilinx.hpl_torus_accl.hbm.u280.generator.ini
Due: build:LINPACK, test:LINPACK

Profiling for LINPACK U280
  LINPACK/configs/Xilinx_U280_B8_SB3_R2_HBM_PCIE_profile.cmake
  LINPACK/settings/settings.link.xilinx.hpl_torus_pcie.hbm.u280.profile.generator.ini
Due: build:LINPACK, test:LINPACK

Update config for HPL U280 profile
  LINPACK/configs/Xilinx_U280_B8_SB3_R2_HBM_PCIE_profile.cmake
  LINPACK/settings/settings.link.xilinx.hpl_torus_pcie.hbm.u280.profile.generator.ini
Due: build:LINPACK, test:LINPACK

Fix HBM link config for LINPACK
  LINPACK/settings/settings.link.xilinx.hpl_torus_pcie.hbm.generator.ini
  LINPACK/settings/settings.link.xilinx.hpl_torus_pcie.hbm.u280.profile.generator.ini
Due: build:LINPACK, test:LINPACK

document new argument of selectFPGADevice
  shared/setup/fpga_setup.cpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Update ACCL constructor
  shared/setup/fpga_setup_accl.cpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Disable LINPACK AllBlockExternResult test
  LINPACK/tests/test_kernel_communication.cpp
Due: build:LINPACK, test:LINPACK

Fix memory mapping of buffers in XRT HPL base version
  LINPACK/src/host/execution_types/execution_xrt_pcie.hpp
Due: build:LINPACK, test:LINPACK

Extend profile options in config
  LINPACK/configs/Xilinx_U280_B8_SB3_R2_HBM_PCIE_profile.cmake
  LINPACK/settings/settings.link.xilinx.hpl_torus_pcie.hbm.u280.profile.generator.ini
Due: build:LINPACK, test:LINPACK

Add 250MHz target to config
  LINPACK/configs/Xilinx_U280_B8_SB3_R1_ACCL.cmake
Due: build:LINPACK, test:LINPACK

Fix clock for cclo in HPL
  LINPACK/settings/settings.link.xilinx.hpl_torus_accl.hbm.u280.generator.ini
Due: build:LINPACK, test:LINPACK

Remove fixed clock since itis not supported with the platform
  LINPACK/settings/settings.link.xilinx.hpl_torus_accl.hbm.u280.generator.ini
Due: build:LINPACK, test:LINPACK

Add trace memory in HBM
  LINPACK/settings/settings.link.xilinx.hpl_torus_pcie.hbm.u280.profile.generator.ini
Due: build:LINPACK, test:LINPACK

Extend documentation for communication types
  docs/source/index.rst
  docs/source/technical_support/Basic Setup/index.rst
  docs/source/technical_support/Host Input Parameters/index.rst
  shared/include/communication_types.hpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff
