Repository pc2/HPCC_FPGA: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

build:STREAM:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../STREAM -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/stream_kernels_single_emulate.aocx
    - build/bin/stream_kernels_emulate.aocx
    - build/bin/STREAM_FPGA_intel
  ...

build:RandomAccess:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../RandomAccess -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/random_access_kernels_single_emulate.aocx
    - build/bin/RandomAccess_intel
    - build/bin/RandomAccess_test_intel

build:PTRANS:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../PTRANS -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/transpose_DIAG_IEC_emulate.aocx
    - build/bin/transpose_PQ_IEC_emulate.aocx
    - build/bin/transpose_PQ_PCIE_emulate.aocx
  ...

build:LINPACK:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../LINPACK -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0 -DLOCAL_MEM_BLOCK_LOG=4 -DREGISTER_BLOCK_LOG=3 -DNUM_REPLICATIONS=3
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/hpl_torus_emulate.aocx
    - build/bin/Linpack_intel
  ...

build:GEMM:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../GEMM -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0 -DBLOCK_SIZE=32
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/gemm_base_emulate.aocx
    - build/bin/GEMM_intel
    - build/bin/GEMM_test_intel

build:GEMM_HP_REP2:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../GEMM -DDATA_TYPE=half -DNUM_REPLICATIONS=2 -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0 -DBLOCK_SIZE=32
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/gemm_base_emulate.aocx
    - build/bin/GEMM_intel
  ...

build:FFT:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../FFT -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/fft1d_float_8_emulate.aocx
    - build/bin/FFT_intel
    - build/bin/FFT_test_intel

build:FFT_small:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../FFT -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0 -DLOG_FFT_SIZE=4 -DNUM_REPLICATIONS=2
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/fft1d_float_8_emulate.aocx
    - build/bin/FFT_intel
    - build/bin/FFT_test_intel

build:b_eff:
  stage: build
  script:
  - rm -rf build
  - mkdir -p build
  - cd build
  - cmake ../b_eff -DDEFAULT_PLATFORM=0 -DDEFAULT_DEVICE=0
  - make -j 40 all
  artifacts:
    paths:
    - build/bin/communication_bw520n_emulate.aocx
    - build/bin/communication_bw520n_combined_loops_emulate.aocx
  ...

Fix for GCD>1 by doing parallel send/recv
  PTRANS/src/host/data_handlers/pq.hpp
Due: build:PTRANS, test:PTRANS

Separate send and recv buffer size
  PTRANS/src/host/data_handlers/pq.hpp
Due: build:PTRANS, test:PTRANS

Move buffer allocation to data generation phase
  PTRANS/src/host/data_handlers/pq.hpp
Due: build:PTRANS, test:PTRANS

Add exception for IEC if P!=Q
  PTRANS/src/host/execution_types/execution_intel_pq.hpp
Due: build:PTRANS, test:PTRANS

Update readme and changelog
  PTRANS/CHANGELOG
  PTRANS/CMakeLists.txt
  PTRANS/README.md
Due: build:PTRANS, test:PTRANS

Update PTRANS docs
  docs/source/PTRANS/index.rst
Due: none

Change CPU execution to separately measure transfer time
  PTRANS/src/host/execution_types/execution_cpu.hpp
Due: build:PTRANS, test:PTRANS

Make PQ transpose better parallizable
  PTRANS/src/host/data_handlers/pq.hpp
Due: build:PTRANS, test:PTRANS

Add exception for M%LCM != 0
  PTRANS/src/host/data_handlers/pq.hpp
Due: build:PTRANS, test:PTRANS

Add HBM support for transpose
  PTRANS/configs/BittWare_520N_MX_pcie.cmake
  PTRANS/settings/settings.gen.intel.transpose_pq.s10mxhbm.py
  PTRANS/src/device/transpose_PQ_PCIE.cl
Due: build:PTRANS, test:PTRANS

Add proposed change to changelog
  LINPACK/CHANGELOG
Due: build:LINPACK, test:LINPACK

Add P value parameter
  LINPACK/CMakeLists.txt
  LINPACK/src/common/parameters.h.in
  LINPACK/src/host/linpack_benchmark.cpp
Due: build:LINPACK, test:LINPACK

Fix data generation for P!=Q
  LINPACK/src/host/linpack_benchmark.cpp
Due: build:LINPACK, test:LINPACK

PCIe with P!=Q
  LINPACK/src/host/execution_types/execution_pcie.hpp
Due: build:LINPACK, test:LINPACK

Start reworking PCIe
  LINPACK/src/host/execution_types/execution_pcie.hpp
Due: build:LINPACK, test:LINPACK

Make OpenMP optional for PCIe scheduling
  LINPACK/src/host/execution_types/execution_pcie.hpp
Due: build:LINPACK, test:LINPACK

Start reworking data generation
  LINPACK/src/host/linpack_benchmark.cpp
  LINPACK/src/host/linpack_benchmark.hpp
Due: build:LINPACK, test:LINPACK

Fix PCIe execution bugs
  LINPACK/src/host/execution_types/execution_pcie.hpp
Due: build:LINPACK, test:LINPACK

Fix non-distributed GESL
  LINPACK/src/host/linpack_benchmark.cpp
Due: build:LINPACK, test:LINPACK

Fix distributed GESL
  LINPACK/src/host/execution_types/execution_pcie.hpp
  LINPACK/src/host/linpack_benchmark.cpp
Due: build:LINPACK, test:LINPACK

Start fixing of IEC implementation
  LINPACK/src/host/execution_types/execution_iec.hpp
  LINPACK/src/host/linpack_benchmark.cpp
Due: build:LINPACK, test:LINPACK

Fix performance calculation
  LINPACK/src/host/linpack_benchmark.cpp
Due: build:LINPACK, test:LINPACK

Partially fix P!=Q execution for IEC
  LINPACK/src/host/execution_types/execution_iec.hpp
Due: build:LINPACK, test:LINPACK

Add new publication for multi FPGA
  README.md
Due: none

Work on IEC PQ distribution
  LINPACK/src/host/execution_types/execution_iec.hpp
Due: build:LINPACK, test:LINPACK

Fix forwarding for P!=Q on IEC
  LINPACK/src/host/execution_types/execution_iec.hpp
Due: build:LINPACK, test:LINPACK

Fix variable PQ for HPL IEC
  LINPACK/src/host/execution_types/execution_iec.hpp
Due: build:LINPACK, test:LINPACK

Update changelog and version
  LINPACK/CHANGELOG
  LINPACK/CMakeLists.txt
Due: build:LINPACK, test:LINPACK

Update README
  LINPACK/Readme.md
Due: build:LINPACK, test:LINPACK

Add ACCL as external dependency
  extern/CMakeLists.txt
Due: none

Make base class more generic
  PTRANS/src/host/transpose_benchmark.hpp
  b_eff/src/host/network_benchmark.hpp
  b_eff/tests/CMakeLists.txt
  cmake/unitTestTargets.cmake
  shared/include/hpcc_benchmark.hpp
  shared/include/setup/fpga_setup_xrt.hpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Patch b_eff compatability with Xilinx
  b_eff/CMakeLists.txt
  b_eff/src/host/CMakeLists.txt
  b_eff/src/host/execution_types/execution.hpp
  b_eff/src/host/execution_types/execution_pcie.hpp
  b_eff/src/host/network_benchmark.cpp
  b_eff/src/host/network_benchmark.hpp
Due: build:b_eff, test:b_eff

Fix calculate functions for new templating
  b_eff/src/host/execution_types/execution_cpu.hpp
  b_eff/src/host/execution_types/execution_pcie.hpp
Due: build:b_eff, test:b_eff

Add ACCL to b_eff host build
  b_eff/CMakeLists.txt
  b_eff/src/host/CMakeLists.txt
Due: build:b_eff, test:b_eff

Temporarily remove OCL device setup to work with ACCL emulator
  b_eff/src/host/network_benchmark.hpp
  shared/include/hpcc_benchmark.hpp
  shared/setup/fpga_setup.cpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

First minimal version working with Simulator
  b_eff/src/host/execution_types/execution.hpp
  b_eff/src/host/execution_types/execution_accl.hpp
  b_eff/src/host/network_benchmark.cpp
  shared/include/communication_types.hpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Move ACCL setup to fpga setup
  b_eff/src/host/network_benchmark.hpp
  cmake/general_benchmark_build_setup.cmake
  shared/CMakeLists.txt
  shared/include/hpcc_benchmark.hpp
  shared/include/setup/fpga_setup_accl.hpp
  shared/setup/fpga_setup.cpp
  shared/setup/fpga_setup_accl.cpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Use global ACCL instance
  b_eff/src/host/execution_types/execution_accl.hpp
Due: build:b_eff, test:b_eff

Complete move ACCL setup to FPGA setup
  b_eff/src/host/execution_types/execution.hpp
  b_eff/src/host/execution_types/execution_accl.hpp
  b_eff/src/host/network_benchmark.cpp
  b_eff/src/host/network_benchmark.hpp
  shared/CMakeLists.txt
  shared/include/hpcc_benchmark.hpp
  shared/setup/fpga_setup_accl.cpp
Due: build:STREAM, build:RandomAccess, build:PTRANS, build:LINPACK, build:GEMM, build:GEMM_HP_REP2, build:FFT, build:FFT_small, build:b_eff, test:STREAM, test:RandomAccess, test:PTRANS, test:LINPACK, test:GEMM, test:GEMM_HP_REP2, test:FFT, test:FFT_small, test:b_eff

Fix ACCL bugs in b_eff
  b_eff/src/host/execution_types/execution_accl.hpp
Due: build:b_eff, test:b_eff

Path conditions:
  build:STREAM: any of: STREAM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:RandomAccess: any of: RandomAccess/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:PTRANS: any of: PTRANS/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:LINPACK: any of: LINPACK/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:GEMM: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:GEMM_HP_REP2: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:FFT: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:FFT_small: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  build:b_eff: any of: b_eff/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:STREAM: any of: STREAM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:RandomAccess: any of: RandomAccess/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:PTRANS: any of: PTRANS/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:LINPACK: any of: LINPACK/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:GEMM: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:GEMM_HP_REP2: any of: GEMM/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:FFT: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:FFT_small: any of: FFT/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
  test:b_eff: any of: b_eff/**/*, shared/**/*, scripts/**/*, cmake/**/*, .gitlab-ci.yml
